<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="openapi-server-gen.ZPM">
    <Module>
      <Name>openapi-server-gen</Name>
      <Version>1.0.0</Version>
      <Description>OpenAPI server-side REST class generator from a specification</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.openapi.server.PKG"/>
      <Dependencies>
        <ModuleReference>
          <Name>openapi-common-lib</Name>
          <Version>1.0.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>objectscript-openapi-definition</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <UnitTest Name="/tests" Package="dc.openapi.server.unittests" Phase="test"/>
    </Module>
  </Document>
</Export>